
@{
    ViewBag.Title = "DetallesNecesidad";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<h2>DetallesNecesidad</h2>

