
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

    <div class="container">
        <div class="card" id="card">
            <div class="card-body">
                <img src="~/Content/Img/error.png" class="rounded mx-auto d-block" alt="Responsive image" id="imagen-detalle">
                <h5 class="text-center">@ViewBag.Description</h5>
            </div>
        </div>
    </div>

