.vs/
.git/
Entidades/bin/Debug/Entidades.dll
*.cache
Entidades/obj/Debug/Entidades.csproj.FileListAbsolute.txt
Servicios/obj/Debug/Servicios.csproj.FileListAbsolute.txt
Servicios/obj/Debug/Servicios.csproj.CopyComplete
.vs/TPWeb3_20201C/config/applicationhost.config
WebCovid19/obj/Debug/WebCovid19.csprojAssemblyReference.cache
.vs/TPWeb3_20201C/config/applicationhost.config
