
@{
    ViewBag.Title = "PublicacionInsumos";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<div class="card" id="card-circle">
    <div class="row">
        <!-- <img class="rounded-circle float-left mt-2 border border-white" id="image-perfil" src="img\negritten.jpg">-->
        <div class="col-md-2">
            <p class=" text-secondary mt-3"><b>Turco Mohamed</b></p>
            <p><span class="fa fa-calendar"></span> 08/05/2020</p>

        </div>
    </div>



    <div class="col-md-12 ">

        <div class="col-md-6 float-left">

            <div class="col-md-12">
                <div class="card-body float-auto">
                    <h2 class="text-center">Necesitamos insumos</h2>

                    <div class="col-md-12 text-center m-auto">
                        <i>"Necesitamos que nos den una mano con los insumos solicitados para darle de comer a mis hijos."</i>
                    </div>



                    <div class="col-md-12 mb-3 mt-3 float-left">

                        <h3> Total solicitado: <b>4 elementos</b></h3>

                    </div>

                    <div class="col-md-12 mb-3 mt-3 float-left">

                        <h5><img src="img/itemProducto.png" id="icons" alt=""> Mesa para apoyar la taza</h5>



                        <h5><img src="img/itemProducto.png" id="icons" alt=""> Colchon para este perro</h5>



                        <h5><img src="img/Completo.png" id="icons" alt=""> Agua</h5>


                        <h5><img src="img/Completo.png" id="icons" alt=""> Una casa</h5>

                    </div>


                </div>

                <div class="col-md-12 btn-group mt-4 mb-3">
                    <button type="button" class="btn btn-danger">En otro momento</button>
                    <button type="button" class="btn btn-success ml-2">Donar Insumos</button>
                </div>
            </div>

        </div>


        <div class="col-md-6 mt-3 mb-3 float-right">

            <img class="card-img-top" src="img/necesitamosInsumos.jpg" id="imagen-detalle" alt="Card image cap">

            <div class="float-auto ml-5 mt-2">
                <button type="button" class="btn btn-outline-info"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                <label> <b class="text-primary">80%</b> de coincidencias </label>

                <button type="button" class="btn btn-outline-danger ml-3"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                <label> 6 votos negativos </label>
            </div>
        </div>



    </div>


</div>