<!----------- Footer ------------>
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <img class="border border-white" id="image-perfil" src="~/Content/Img/logo2.png">
            <p>Programación Web 3 - 1C</p>
            <p>© 2020 PW3, Todos los derechos reservados</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Alumnos</h4>
            <div class="col-md-8">
                <ul class="pages">
                    <li><a href="#">Aguayo, Diana</a></li>
                    <li><a href="#">Delgado, Candelaria</a></li>
                    <li><a href="#">Iracheta, Julieta</a></li>
                    <li><a href="#">Karlen, Iván</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Grupo</h4>
            <ul>
                <li><a href="https://github.com/IvanNicolasKarlen/App-Covid-19">Grupo 1</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Footer -->